.Input{
    padding:10px;
    outline: none;
    border:0;
    border:2px solid #dbdbdb;
    border-radius: 4px;
    margin:5px 0;
    background-color: white;
    color:rgb(77, 77, 77);


    &:focus-visible{
        border:2px solid rgb(22, 77, 255, .6);
    }
}